$primary: hsl(224, 93%, 58%); /* Bright Blue #3065f8 */
$secondary: hsl(238, 22%, 44%); /* Desaturated Blue */
$accent: hsl(170, 45%, 43%); /* Moderate Cyan */
$neutral: hsl(240, 75%, 98%); /* Light Grayish Blue */
$dark: hsl(243, 87%, 12%); /* Very Dark Blue */
$light: hsl(0, 0%, 75%); /* Light Gray */
