.about {
  background: $neutral;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 2rem;

    @media screen and (max-width: 1000px) {
      display: block;
    }
  }

  .title {
    grid-column: 1 / -1;
    margin-bottom: 3rem;
  }

  .content {
    max-width: 500px;
  }

  .image {
    max-width: 400px;

    img {
      width: 100%;
      display: block;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .avatar {
    max-width: 100px;
    border-radius: 100px;
    border: 2px solid $dark;
  }

  .signature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 350px) {
      display: block;
    }

    div {
      margin-left: 1rem;

      @media screen and (max-width: 350px) {
        margin: 0;
        margin-top: 1rem;
      }
    }

    p {
      margin: 0;
      font-family: cursive;
    }
  }
}
